<section class="artistinfo cards">
  <div class="artist cf">
   
     <div class="container">
   <div id="signup">
      <div class="signup-screen ">
         <div class="space-bot text-center">
            <h1>Book Edit</h1>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" novalidate  ng-submit="handleSubmit()">
            <div class="input-container">
                <input type="text" id="title"  name="title" value="" ng-model="book.title" required="required">      
                <label for="title">Title</label>
                <div class="bars"></div>                
              </div>
               <p class="alert alert-danger" ng-show="(form-register.title.$error.required && form-register.title.$dirty )">This is required field.</p>
               <div class="input-container">
                <input type="text" id="email"  name="author" value="" ng-model="book.name" required="required">      
                <label for="email">Author</label>
                <div class="bars"></div>
              </div>
              <p class="alert alert-danger" ng-show="(form-register.author.$error.required && form-register.author.$dirty )">This is required field.</p>
              <div class="input-container">
                <input type="text" id="email"  name="categories" value="" ng-model="book.categories" required="required">      
                <label for="email">Categories</label>
                <div class="bars"></div>             
              </div>
               <p class="alert alert-danger" ng-show="(form-register.categories.$error.required && form-register.categories.$dirty )">This is required field.</p>
               <div class="input-container">
                <input type="text" id="email"  name="publisher" value="" ng-model="book.publisher" required="required">      
                <label for="email">Publisher</label>
                <div class="bars"></div>
              </div>
               <p class="alert alert-danger" ng-show="(form-register.publisher.$error.required && form-register.publisher.$dirty )">This is required field.</p>

           
              <div class="space-top text-center">
               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="fa fa-check" aria-hidden="true"></i> Submit
               </button>
               <button type="button" ng-click="reset()" class="waves-effect waves-light btn cancel">
               <i class="fa fa-times" aria-hidden="true"></i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to Home</a>
</section>